div{
    position: absolute;
    background: purple;
    width: 200px;
    height: 200px;
}
.red{
    z-index: 5;
    top: 50px;
    background: crimson;
}
.blue{
    z-index: 4;
    left: 50px;
    background: blue;
}
.yellow{
    z-index: 6;
    right: -20px;
    top: 40px;
    background: yellow;
}